//============================================================
// Caching
//============================================================

$random: random(99999999999);

// ============================================================
// Viewports
//============================================================

$desktop-medium: 1420px;
$desktop-hd: 1280px;
$desktop-small: 1024px;
$tablet-large: 992px;
$tablet-medium: 768px;
$tablet-small: 480px;

// ============================================================
// Wrapper
//============================================================
$wrapper_w: 1240px;
$row_left_right: 10px;
//============================================================
// Typography
//============================================================

$font-1: sans-serif;

//============================================================
// Colors
//============================================================

$textcolor-1: #1E1E1E;
$textcolor-hover: #d5d5d5;
$maincolor: #1f82d3;
$maincolor-dark: #2076bc;
$maincolor-2: #009DDD;
$maincolor-2-gradient-combination: #018BC3;

$facebook-color: #3d5b99;
$twitter-color: #1ea1f1;
$youtube-color: #ff0000;
$linkedin-color: #0274b3;
$viadeo-color: #f07355;
$pinterest-color: #bd081c;
$google-plus-color: #df493a;

$white: #fff;
$dark: #000;
$icon-color: #afafaf;
$border-color: #BCBCBC;
$border-color-2: #EBEBEB;

$color1: #171717;
$color2: #515151;
$color3: #76AFDC;
$color4: #EBEFF3;
$color5: #464545;
$color6: #EEEEF3;
$color7: #060708;
$color8: #888888;
$color9: #bcbcbc;
$color10: #1F82D2;
$color11: #BCBCBC;
$color12: #1D6FB2;
$color13: #3E3E3E;
$color14: #d2d2d2;
$color15: #4C6073;
$color16: #919191;
$color17: #848484;
$color18: #bebebe;
$color19: #E6EAEE;
$color20: #D0D1D2;
$color21: #006699;
$color22: #76afdc;
$color23: #1D2832;
$color24: #303F4C;
$color25: #dbdbdb;
$color26: #0C5087;
$color27: #1B78C2;
//============================================================
// Easing
//============================================================

// Cubic
$easeInCubic: cubic-bezier(0.550, 0.055, 0.675, 0.190);
$easeOutCubic: cubic-bezier(0.215, 0.610, 0.355, 1.000);
$easeInOutCubic: cubic-bezier(0.645, 0.045, 0.355, 1.000);

// Circ
$easeInCirc: cubic-bezier(0.600, 0.040, 0.980, 0.335);
$easeOutCirc: cubic-bezier(0.075, 0.820, 0.165, 1.000);
$easeInOutCirc: cubic-bezier(0.785, 0.135, 0.150, 0.860);

// Expo
$easeInExpo: cubic-bezier(0.950, 0.050, 0.795, 0.035);
$easeOutExpo: cubic-bezier(0.190, 1.000, 0.220, 1.000);
$easeInOutExpo: cubic-bezier(1.000, 0.000, 0.000, 1.000);

// Quad
$easeInQuad: cubic-bezier(0.550, 0.085, 0.680, 0.530);
$easeOutQuad: cubic-bezier(0.250, 0.460, 0.450, 0.940);
$easeInOutQuad: cubic-bezier(0.455, 0.030, 0.515, 0.955);

// Quart
$easeInQuart: cubic-bezier(0.895, 0.030, 0.685, 0.220);
$easeOutQuart: cubic-bezier(0.165, 0.840, 0.440, 1.000);
$easeInOutQuart: cubic-bezier(0.770, 0.000, 0.175, 1.000);

// Quint
$easeInQuint: cubic-bezier(0.755, 0.050, 0.855, 0.060);
$easeOutQuint: cubic-bezier(0.230, 1.000, 0.320, 1.000);
$easeInOutQuint: cubic-bezier(0.860, 0.000, 0.070, 1.000);

// Sine
$easeInSine: cubic-bezier(0.470, 0.000, 0.745, 0.715);
$easeOutSine: cubic-bezier(0.390, 0.575, 0.565, 1.000);
$easeInOutSine: cubic-bezier(0.445, 0.050, 0.550, 0.950);

// Back
$easeInBack: cubic-bezier(0.600, -0.280, 0.735, 0.045);
$easeOutBack: cubic-bezier(0.175, 0.885, 0.320, 1.275);
$easeInOutBack: cubic-bezier(0.680, -0.550, 0.265, 1.550);

//================================
//Google Font
//================================
$google-font: 'Martel Sans';
$google-font-2: 'Open Sans';
$google-font-3: 'Lora', serif;
