<div class="wrapper">

	<div class="logo">
		<a href=""> <img src="{{ img_url }}/main-logo.png"></a>
	</div>
	<div class="main-menu">
		<ul>
			<li><a href="">Features</a></li>
			<ul class="sub-menu">
				<li><a href="">sdfdssdf</a></li>
				<li><a href=""></a></li>
				<li><a href=""></a></li>
				<li><a href=""></a></li>
				<li><a href=""></a></li>
			</ul>
			<li><a href="">About</a></li>
			<li><a href="">Pricing</a></li>
			<li><a href="">Reviews</a></li>
			<li><a href="">Contact</a></li>
		</ul>
	</div>
</div>