<div class="include-banner-home">
	<div class="tex-left">
		<img src="">
		<h4>MODERN AXURE TEMPLATE
			FOR BEAUTIFUL PROTOTYPES</h4>
		<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean
			euismod bibendum laoreet. Proin gravida dolor sit amet lacus
			accumsan et viverra justo commodo.</p>
		<div class="download">
			<a href="">Download</a>
		</div>
	</div>

	<div class="form-right">
		<div class= "box-form">
			<div class="inlude-field">
				<h5>try your ree</h5>
				<div class="input">
					<input type="" name="">
				</div>
				<div class="input">
					<input type="" name="">
				</div>
				<div class="input">
					<input type="" name="">
				</div>
			</div>
			<div class="button">
				<a href="">get startd</a>
			</div>
		</div>
			
	</div>
</div>